@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #ff69b4, #ff1493);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .shadow__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  