
/* Header */
header {
    background-color: var(--color-fondo);
    color: var(--color-dorado);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .logo {
    width: 150px;
    height: auto;
  }
  
  /* HeroSection */
  .hero-section {
    background: linear-gradient(to right, var(--color-dorado), var(--color-dorado-oscuro));
    color: var(--color-fondo);
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-section p {
    font-size: 1.25rem;
  }
  .cta-button {
    background-color: var(--color-dorado);
    color: var(--color-fondo);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* AboutSection */
  .about-section {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 2rem;
    text-align: center;
  }
  
  .about-section h2 {
    color: var(--color-dorado);
    margin-bottom: 1rem;
  }
  
  /* CoursesSection */
  .courses-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
  }
  
  .course-card {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-dorado);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(255, 215, 0, 0.5);
  }
  
  /* Footer */
  footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-dorado);
  }
  .icon {
    color: var(--color-dorado);
    font-size: 24px;
    margin-right: 0.5rem;
  }