/* src/styles/Profile.css */

.profile-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #000000; /* Fondo negro */
  color: #ffd700; /* Texto dorado */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.profile-container p {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.logout-container {
  margin-top: 16px;
}

.logout-button {
  background-color: #ffd700; /* Fondo dorado */
  color: #000000; /* Texto negro */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #e6be00; /* Dorado más oscuro al pasar el ratón */
  color: #ffffff; /* Texto blanco */
}
